/* src/index.css */

/* Definición de las Paletas de Colores */
/* Tema Claro (por defecto) */
:root {
    --primary-color: #4a4e69;
    --secondary-color: #9a8c98;
    --background-color: #f2e9e4;
    --text-color: #22223b;
    --container-bg: #ffffff;
    --danger-color: #c94c4c;
    --border-color: #eee;
    --link-color: #6d6875;
}

/* Tema Oscuro */ 
[data-theme='dark'] {
    --primary-color: #9a8c98;
    --secondary-color: #c9ada7;
    --background-color: #22223b; 
    --text-color: #f2e9e4;
    --container-bg: #4a4e69;
    --danger-color: #e57373;
    --border-color: #5b5f97;
    --link-color: #f2e9e4;
}

/* Tema Goku */ 
[data-theme='goku'] {
    --primary-color: #F87D09;
    --secondary-color: #005A8D;
    --background-color: #f2e9e4;
    --text-color: #22223b;
    --container-bg: #ffffff;
    --danger-color: #c94c4c;
    --border-color: #eee;
    --link-color: #005A8D;
}

/* Reset Básico y Estilos Globales que usan las variables */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

/* Layout principal de la Aplicación
#root {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--container-bg);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
} */

.rest-timer-overlay {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    text-align: center;
}   

.timer-display {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 10px;
}